* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: auto;

}

#parallax_section {
  width: auto;

}


#trapez_nav1 {
  width: 1903px;
  height: 960px;
float: left;

}

#trapez_1 {
	border-top: 70px solid;
    border-color: rgba(255, 255, 255, 0.6);
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 500px;
  margin: 0 auto;
position: fixed;
left: 0;
right: 0;
z-index: 9999;
}

 #logo {
  background-image: url(Avantgarde_logo.png);
  width: 300px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
margin-top: -66px;

}

#trapez_2 {
	border-bottom: 70px solid;
  border-color: rgba(255, 255, 255, 0.6);
	border-right: 50px solid transparent;
	height: 0;
	width: 652px;
position: absolute;
margin-top: 890px;
top: 0;
left: 0;
right: 0;

}



#trapez_2.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;


}


ul li {
  font-size: 36px;
  display: inline;
  line-height: 70px;
  margin-left: 150px;
}



#trapez_3 {
	border-bottom: 70px solid;
    border-color: rgba(255, 255, 255, 0.6);
	border-left: 50px solid transparent;
	height: 0;
	width: 651px;
margin-left: 1202px;
margin-top: 890px;
position: absolute;
left: 0;
right: 0;

}

#trapez_3.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;


}

#trapez_3 ul li {
  font-size: 36px;
  display: inline;
  line-height: 70px;
  margin-left: 120px;

}


.parallax {
  background-image: url(parallax_back.jpg);
  height: 960px;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#main_section {
  height: 2000px;
position: relative;
width: 100%;
background-color: red;
}

#bestil_tid_img {
  background-image: url(bestil_tid.jpg);
  width: 70%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;

  float: right;
}

#grey_thing {
  background-image: url(grey_thing.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  z-index: 1000;
  float: left;
  position: absolute;
}


#tider {
color: white;
font-size: 38px;
line-height: 50px;
margin: 250px 250px;
}

tr td {
  padding-right: 50px;
}


#menu_circle_1 {
  background-color:rgb(80, 80, 80) ;
  width: 130px;
	height: 130px;
	-moz-border-radius: 65px;
	-webkit-border-radius: 65px;
	border-radius: 65px;
margin: 0 auto;
margin-top: 10px;
z-index: 1001;
color: white;
font-size: 28px;
text-align: center;
line-height: 130px;
}


#bestil_tid_circle {
  background-color: white;
  width: 250px;
	height: 250px;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
  z-index: 1001;
  float: right;
margin-top: 360px;
margin-right: 380px;
}

#bestil_tid_text {
  background: url(bestil_tid.jpg);
  background-size: cover;
-webkit-text-fill-color: transparent;
  font-size: 45px;
  text-align: center;
  line-height: 250px;
font-weight: bold;
-webkit-background-clip: text;

}



/* #grey_thing {
  border-top: 800px solid;
    border-color: grey;
	border-right: 300px solid transparent;
	height: 0;
	width: 50%;

position: absolute;
z-index: 997;
float: left;
}


#white_thing {
  width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 230px solid transparent;
	border-top: 600px solid red;
position: absolute;
margin-left: 1022px;

z-index: 1000;

} */
